<figure class="callout">
  <blockquote class="blockquote">
    <p class=""><%= @answer %></p>
  </blockquote>
  <figcaption class="blockquote-footer">
      You
  </figcaption>
</figure>

<div class="callout-warning my-2">
  <figure >
    <blockquote class="blockquote">
      <p class=""><%= @response %></p>
    </blockquote>
    <figcaption class="blockquote-footer">
     - Your coach
    </figcaption>
  </figure>
</div>

<%= link_to "Ask a new question", ask_path %>
