<p class="mb-3">Ask your coach anything:</p>

<form action="/answer" class="row">
  <div class="col-auto">
    <input type="text" name="question" id="question" class="form-control">
  </div>

  <div class="col-auto">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </div>
</form>
